<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>適当なアレ？</span>
    <span style="margin-left: 5vw;"></span>
    <button mat-button routerLink="/home" style="font-size: 1.2rem; font-weight: 400; margin-left: 2vw;">
      HOME
    </button>
    <button mat-button routerLink="/item" style="font-size: 1.2rem; font-weight: 400; margin-left: 2vw;">
      ITEM
    </button>
    <button mat-button routerLink="/drop" style="font-size: 1.2rem; font-weight: 400; margin-left: 2vw;">
      DROP
    </button>
    <button mat-button routerLink="/monster" style="font-size: 1.2rem; font-weight: 400; margin-left: 2vw;">
      MONSTER
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
