<div style="margin: 1.5vw 1.5vw 0;">
  <mat-form-field appearance="fill" style="max-width: 30%; margin-right: 1.5vw;">
    <mat-label>pickups</mat-label>
    <mat-select [(ngModel)]="pickup" (selectionChange)="applyFilter(); input = '';">
      <mat-option value=""> 未選択 </mat-option>
      <mat-option *ngFor="let pickup of pickups" [value]="pickup.version">
        {{pickup.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 50%;" [ngStyle]="{'visibility': pickup === '' ? 'unset' : 'hidden'}">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="input" (keyup)="applyFilter()" placeholder="結晶">
  </mat-form-field>
</div>

<div class="mat-elevation-z8" style="height: calc(100% - 100px); margin: 0 1.5vw;">
  <div style="max-height: calc(100% - 56px); overflow: auto; position: relative;">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell style="padding-left: 2vw;" *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell style="word-break: keep-all; padding-left: 2vw;" *matCellDef="let row">
           {{row.id}}
         </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名前 </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 種類 </th>
        <td mat-cell style="word-break: keep-all;" *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell style="padding-right: 1.5vw;"  *matHeaderCellDef mat-sort-header> 説明 </th>
        <td mat-cell style="padding-right: 1.5vw;" *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickRow($event, row)" style="cursor: pointer;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input}}"</td>
      </tr>
    </table>

  </div>
  <mat-paginator [pageSize]="100" [pageSizeOptions]="[10, 100, 1000, 5000, 20000]"></mat-paginator>
</div>
