<div class="content" fxLayout="row wrap" fxLayoutGap="3vw grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" routerLink="/home">
      <mat-card-header>
        <mat-card-title>Home</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Le Ciel Bleu(ルシエルブルー)　色々サイト
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" routerLink="/item">
      <mat-card-header>
        <mat-card-title>Item</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          アイテム一覧
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" routerLink="/drop">
      <mat-card-header>
        <mat-card-title>Drop</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          ドロップ一覧（重い）
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" routerLink="/monster">
      <mat-card-header>
        <mat-card-title>Monster</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          敵一覧
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 not-allowed" routerLink="/magic">
      <mat-card-header>
        <mat-card-title>Magic</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          魔法一覧（実装途中）
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 not-allowed" routerLink="/quest">
      <mat-card-header>
        <mat-card-title>Qust</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          クエスト一覧
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 not-allowed" routerLink="/pet">
      <mat-card-header>
        <mat-card-title>Pet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          ペット一覧（未実装）
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 not-allowed" routerLink="/mms">
      <mat-card-header>
        <mat-card-title>MMS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          錬金計算機（未実装）
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 not-allowed" routerLink="/skil-simulator">
      <mat-card-header>
        <mat-card-title>SkillSimulator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          スキルシミュ（未実装）
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
